{% extends 'authentication/base.html' %} {% block title %} index {% endblock %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> {Your_ProjectName}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <div>
      {% if not request.user.is_authenticated %}
      <a href="/auth/login/">Login</a>
      <a href="/auth/register/">Sign Up</a>
      {% else %}
      <a class="nav-link" href="/auth/logout/">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}